body{
    background-color: #f9e3e3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 60px;
    margin-left: 60px;
}

#header h1{
    font-size: 34px;
}
#header a{
    text-decoration: none;
    font-weight: bold;
    color: #BD5151;
}

#network h3{
    font-size: 24px;
}
#network a{
    text-decoration: none;
    font-size: 20px;
    color: #BD5151;
}
.letra:first-letter{
    color: #BD5151;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 5px;
}
#network ul{
    list-style: square;
}
#network span{
    font-style: italic;
}

h2{
    padding-top: 20px;
    font-size: 28px;
}

#javascript h3{
    font-size: 24px;
}
#javascript h4{
    font-size: 17px;
}
.autor{
    font-style: italic;
}
#javascript span{
    font-style: italic;
}

#sugerencias h3{
    padding-top: 20px;
    font-size: 24px;
}
#sugerencias a{
    text-decoration: none;
    color: #BD5151;
    font-weight: bold;
}

#pie a{
    text-decoration: none;
    color: #BD5151;
    font-weight: bold;
}

.network-title{
    font-size: 24px;
    color: #BD5151;
}

#volver a{
    text-decoration: none;
    color: #BD5151;
    font-weight: bold;
}

#titulo{
    font-size: 34px;
}
.letra1::first-letter{
    font-size: 34px;
    font-weight: bold;
    color: #BD5151;
    letter-spacing: 5px;
}

#datos a{
    text-decoration: none;
    color: #BD5151;
    font-weight: bold;
}
#datos span{
    font-style: italic;
}
#datos ul{
    font-weight: bold;
}